:root {
	background-color: #641310;
	padding: 0vw 5vw;
}
.main_background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 80vh;
	margin-left: -5vw;
	background-image: url("/src/assets/main_background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.home {
	display: flex;
	flex-direction: column;
}
.home h1 {
	font-size: 4rem;
	margin-bottom: 1vh;
}
.home .title {
	margin-bottom: 15vh;
}

.title p {
	font-size: 1.25rem;
	max-width: 45vw;
}
.fairytale h1 {
	color: white;
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: 2.5vh;
}
.fairytale-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.5vw;
	margin-bottom: 5vh;
}
.single-fairytale {
	height: 35vh;
	background-color: white;
	border-radius: 25px;
	text-decoration: none;
}
.single-fairytale-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0vh 2.5vw;
	max-height: 10vh;
	height: 100%;
}
.name {
	font-size: 1.15rem;
	color: crimson !important;
	margin: 0 !important;
}
.author {
	color: black;
}

.coverImg {
	width: 100%;
	height: 25vh;
	background-size: cover;
	background-position: center;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}
.home .searchButton {
	width: 45vw;
	height: 2.5rem;
}
.home-btn-all-projects {
	background-color: white;
	height: 3.5vh;
	padding: 0.5vh 5vw;
	border: none;
	border-radius: 10px;
	color: red;
	align-self: center;
	align-content: center;
	margin-top: 5vh;
	text-decoration: none;
}
.allProjects {
	display: flex;
	flex-direction: column;
}
.allProjects .searchButton {
	width: 40vw;
	height: 2.5rem;
	align-self: center;
}
.allProjects .searchFilter {
	align-self: center;
	width: 30vw;
	justify-content: space-between;
}

.making-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.making-info-image {
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}

.making-info-text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0vh 2.5vw;
	height: 100%;
	font-size: 1.25rem;
}
.making-info-text h1 {
	font-size: 4rem;
}
.making-info-link {
	background-color: white;
	height: 3.5vh;
	padding: 0.5vh 5vw;
	border: none;
	border-radius: 10px;
	color: red;
	align-self: flex-start;
	align-content: center;
	margin-top: 5vh;
	text-decoration: none;
}

.making-extra-images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.making-extra-images div {
	width: 100%;
	height: 35vh;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}
