.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5vw 0vw;
	height: 10vh;
	max-height: 10vh;
	margin-bottom: 5vh;
}

.header img {
	height: 100%;
	width: auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40vw;
}
.nav a {
	text-decoration: none;
	color: #000;
	font-size: 1.25rem;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}
.clicked {
	color: red !important;
}

